{% extends 'base.html.twig' %}

{% block title %}
  Chat Room: {{ room.title }}
{% endblock %}

{% block body %}
<section class="chat-section">
  <div>

    <a href="{{ path('app_home') }}" class="purple bold"> &#60; </a>

    <h1>{{ room.title }}</h1>
    <div id="chat-messages" class="chat-area">
      {% for message in messages %}
        <div class="message">
          <strong>{{ message.user.username }}</strong>
          <span class="input-field">{{ message.datetime|date('d-m-Y H:i') }}</span>
          <div class="purple">{{ message.content }}</div>
        </div>
      {% endfor %}
    </div>

    <section class="type-area" id="type-area">
      <form id="message-form">
        <input class="input-field white field-text" type="text" id="message-input" required />
        <input class="bold" value="Envoyer" type="submit" />

      </form>
        <button class="green bold"> Recap </button>
        <button class="red bold"> Critique </button>
        <button class="yellow bold"> Propal </button>
    </section>
  </div>
</section>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/chat.js') }}" defer></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      initChat({
        roomId: {{ room.id }},
        mercureHubUrl: "{{ mercureHubUrl }}",
        roomTopic: "{{ roomTopic }}",
        sendMessageUrl: "{{ path('app_room_send_message', {'id': room.id}) }}",
        csrfToken: "{{ csrf_token('authenticate') }}"
      });
    });
  </script>
{% endblock %}
