{% extends 'base.html.twig' %}

{% block title %}
  Chat Room: {{ room.title }}
{% endblock %}

{% block body %}
<section class="chat-section">
  <div>
    <h1>{{ room.title }}</h1>
    <div id="chat-messages" class="chat-area">
      {% for message in messages %}
        <div class="message">
          <strong>{{ message.user.email }}</strong>
          <span class="input-field">{{ message.datetime|date('Y-m-d H:i:s') }}</span>
          <p class={{ message.user.email ? 'message user purple' : 'message bot white' }}">{{ message.content }}</p>
        </div>
      {% endfor %}
    </div>

    <section class="type-area" id="type-area">
      <form id="message-form">
        <textarea class="input-field white field-text" type="text" id="message-input" required />
        <input class="black bold" value="^" type="submit" />

        <button class="green bold"> Recap </button>
        <button class="red bold"> Critique </button>
        <button class="yellow bold"> Propal </button>
      </form>
    </section>
  </div>
</section>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/chat.js') }}" defer></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      initChat({
        roomId: {{ room.id }},
        mercureUrl: "{{ mercure(path('app_room_show', {'id': room.id}), { subscribe: 'room/' ~ room.id }) }}",
        sendMessageUrl: "{{ path('app_room_send_message', {'id': room.id}) }}",
        csrfToken: "{{ csrf_token('authenticate') }}"
      });
    });
  </script>
{% endblock %}
